<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for pessoa in pessoas %}
            <li >
                <a href="{% url 'pessoaUpdate' pessoa.id %}">
                {{ pessoa.nome }}
                </a>
                <a href="{% url 'pessoaDelete' pessoa.id %}"> Deletar </a>
            </li>
        {% endfor %}
        <a href="{% url 'pessoaCreate' %}"> Criar Novo</a>
    </ul>
</body>
</html>