<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Tem certeza que quer deletar?</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Deletar</button>
        </form>
</body>
</html>